
@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Iansui", cursive;
}

html{ /* Institula que o html vai pegar toda a altura e largura da tela */
    width: 100vw;
    height: 100vw;
    font-size: 40.5%; /*o valor da fonte em % fica responsivo*/
    overflow-x:hidden ; /*tira a barra horizontal*/
    scroll-behavior: smooth;
    background-color: #2f2222;
}

/*Menu*/
.content{
    width: 100vw;
    height: 70px;
    display: flex;/*deixa os itens um do lado do outro*/
    justify-content: space-around;/*espaçamento entre os itens*/
    align-items: center; /*alinhar eles ao centro */
    background-color: #2f2222;
    position: fixed;
    padding-left: 10rem;
    transition: all 200ms ease-in;
}

.logo{
    width: 95px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3{
    color: white;
    font-size: 2.6rem;  
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #483f3f;
    border-bottom: 4px solid #f7cf4c;  
    color: #f7cf4c;
}

/* Conteudo principal */
.primeira-section{
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img/fundo-pizza-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.primeira-section .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primeira-section h1{
    color: #f7cf4c;
    font-size: 5.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.primeira-section h2{
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button{
    width: 260px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f7cf4c;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5rem;

    transition: all 400ms ease-in;
}

.btn button:hover{
   /* border: 1px solid #f3df9d;*/
    background-color: transparent;
    color: #f7cf4c;
}

.btn {
    width: 560px;
    display: flex;
    justify-content: space-between;
}

/* Sobre nós */

.sobre-nos {
    background-color: #2f2222;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos img{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155,155, 155);
}

.main{
    display: flex;
    justify-content: space-between;
}

.contentSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentSobre h2{
    font-size: 6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contentSobre p{
    text-align: center;
    font-size: 1.9rem;
    width: 600px;
}

/* Cardápio */

.cardapio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(47 28 28 / 80%);
}

.cardapio h2{
    font-size: 5rem;
    color:aliceblue;
    text-transform: uppercase;
    margin-top: 2rem;
}

.itens-cardapio{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-cardapio .info{
    background-color: rgb(223, 223, 223);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.itens-cardapio .info h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.itens-cardapio .info h4{
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 6rem;
}

.itens-cardapio .info h4 span{
    font-size: 1.7rem;
    color:#585858;
    margin-left: 1.5rem;
    text-decoration: underline;
}
.itens-cardapio img {
    width: 100%;
    height: 200px;
}

.itens-cardapio div{
    background-color: #483f3f;
    box-shadow: 0px 0px 4px 1px;
}

.itens-cardapio .info .btnPedir{
    width: 200px;
    height: 35px;
    margin-top: 1.5rem;
    background-color: #f7cf4c;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;

}

.itens-cardapio .info .btnPedir:hover{
    background-color: #684c4c;
    color:white;
}

/* Contatos */

.contato{
    width: 100%;
    background-color: #2f2222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 4rem;
}
.contato h3{
    font-size: 5rem;
    margin-bottom: 3rem;
    padding-top: 2rem;

}

.contatos-secao{
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.contatos-secao i{
    margin-right: 1rem;
}

.contatos-secao div{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.contatos-secao div:hover{
    color: #f7cf4c;
    
}


/* Footer */

footer{
    height: 25px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1200px){
    .main {
        display: block;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 12%;
        padding-left: 0px;
    }

    .sobre-nos img{
        width: 600px;
        margin-left: -2px;
    }
}

@media(max-width: 992px){
        html {
            font-size: 30.5%;
        }
}

@media (max-width:768px){
    html {
        font-size: 25.5%;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }
 
    /* inicio menu novo */
    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 30%;
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition-duration: 0.5s;
    }

    .menu-toggle{
        width: 100px;
        height: 60px;
        margin-top: auto;
    }

    .content.on{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content.on .logo{
        display: none;
    }

    .content.on .menu-toggle{
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu{
        display: block;

    }

    .content.on .list-menu li{
        display: flex;
        justify-content: center;
    }

    .content.on .list-menu li a{
        font-size: 4rem;
    }

    .content.on .menu-toggle .two{
        opacity: 0;
    }
    .content.on .menu-toggle .one{
        transform: rotate(45deg) translate(5px, -8px);
    }
    .content.on .menu-toggle .three{
        transform: rotate(-45deg) translate(20px, -6px);
    }
    /* fim menu novo */

    .itens-cardapio {
        grid-template-columns: repeat(2, minmax(50px, 350px));
        margin-top: 4rem;
    }

    .itens-cardapio .info h4{
        margin-left: 27rem;
    }
    .itens-cardapio .info .btnPedir{
        width: 150px;
        height: 28px;
        font-size: 3rem;
    }

    .btn{
        width: 460px;
    }
    .btn button{
        width: 210px;
        height: 50px;
    } 

    .contatos-secao{
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }

    .contatos-secao div{
        margin: 1rem;
    }
    

    
}
@media (max-width:600px){


        
}